@import 'colors';

.field-landing-page {
    height: 470px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 60px;
    background: #fff;
    border-radius: 5px;
    margin-top: 70px;
    overflow: hidden;

    font {
        font-family: Arial, Helvetica, sans-serif;
        color: $thirdColor;
        font-weight: bold;
        font-size: 60px;
        margin-top: 20px;
        margin-left: 2%;
        z-index: 2;

        span {
            text-transform: uppercase;
        }

        &::after {
            content: '';
            display: block;
            width: 210px;
            height: 8px;
            border-radius: 10px;
            background: $thirdColor;
            margin-top: 10px;
        }
    }

    p {
        width: 34%;
        margin-top: 11%;
        color: rgb(230, 235, 252);
        line-height: 22px;
        z-index: 2;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #ffffff0a;
            border-radius: 15px;
            margin-top: 15px;
        }
    }

    img {
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    #vetor-mulher {
        width: 55%;
        z-index: 99;
    }

    #vetor-triangulo {
        left: 0;
        z-index: 1;
        width: 56%;
        opacity: 50%;
        filter: sepia(1) hue-rotate(215deg) contrast(3.5) brightness(12) saturate(0.5);
    }

    #vetor-codigos {
        width: 57%;
        opacity: 20%;
    }
}


