.fields {
    width: 40%;
    height: 100%;
    padding: 40px 60px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}