@import 'colors';

.field-info {
    width: 60%;
    padding: 40px 60px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    position: relative;

    button {
        padding: 7px 20px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        color: rgb(197 197 197 / 64%);
        border: 1.8px solid rgb(242 242 242);
        border-radius: 5px;
        background: rgb(215 215 215 / 1%);
        position: absolute;
        top: 5.5%;
        left: 7%;

        &:hover {
            transition: 1s;
            background: $thirdColor;
            color: white;
        }
        
        &:active {
            transition: 0.1s;
            background: black;
            color: white;
        }
    }

    .form-info {
        width: 85%;
    
        div {
            margin-bottom: 15px;
                
            &::after {
                content: '';
                display: none;
            }
        
            .input-text-info {
                display: block;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid #80808045;
                background: #80808008;
                margin-top: 10px;
                color: $thirdColor;
            }
        }
    
        h1 {
            margin-top: 60px;
        } 
        p {
            margin-bottom: 20px;
        }

        h3 {
            text-align: start;
            width: 100%;
            color: $thirdColor;
            font-weight: normal;
            margin-left: 10px;
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            align-items: center;
    
            &::after {
                content: "";
                display: block;
                width: 70%;
                height: 1px;
                background: linear-gradient(45deg, $thirdColor, transparent);
                margin-left: 10px;
            }
        }

        .btn-submit-form-info {
            padding: 10px 30px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #80808067;
            background: white;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 1px;
            color: #80808067;
            margin-bottom: 60px;
            margin-top: 30px;
        
            &:hover {
                transition: 1s;
                background: $thirdColor;
                color: white;
                border: 1px solid white;        
            }
    
            &:active {
                transition: 0.1s;
                background: black;
                color: white;
                border: 1px solid white;      
            }
        }

        .input-40-porcento {
            width: 60%;
        }

        .input-30-porcento {
            width: 40%;
        }
    }
}