@import 'colors';

.field-login {
    height: 570px;
    width: 31%;
    padding: 40px 60px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    h1 {
        font-size: 30px;
        margin-bottom: 30px;
        color: $thirdColor;
    }

    p {
        margin-bottom: 50px;
        letter-spacing: 1px;
        color: #80808080;
    }

    div {
        width: 100%;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background: #80808045;
            border-radius: 10px;
            margin-bottom: 40px;
        }

        label {
            text-align: start;
            width: 98%;
            margin: 20px 0 10px 0;
            color: #5e5e5e;
            font-size: 14px;
        }
    
        input {
            width: 100%;
            outline-color: $thirdColor;
    
            &::placeholder {
                color: rgba(128, 128, 128, 0.314);
                letter-spacing: 0.1px;
            }
        }
    
        .input-text {
            display: block;
            padding: 5px;
            border-radius: 5px;
            border: none;
            outline: none;
        }
    
    }

    div:nth-child(4)::after {
        margin-bottom: 53px;
    }

    .btn-submit {
        padding: 15px 30px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #80808067;
        background: white;
        cursor: pointer;
        font-weight: bold;
        color: #80808067;
        margin-bottom: 60px;
    
        &:hover {
            transition: 1s;
            background: $thirdColor;
            color: white;
            border: 1px solid white;        
        }

        &:active {
            transition: 0.1s;
            background: black;
            color: white;
            border: 1px solid white;      
        }
    }
}