@import 'colors';

.field-landing-page {
    height: 470px;
    width: 65%;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;

    p {
        font-family: Arial, Helvetica, sans-serif;
        color: $thirdColor;
        width: 95%;
        font-weight: bold;
        font-size: 60px;
        margin-top: 20px;

        span {
            text-transform: uppercase;
        }
    }

    img {
        position: absolute;
        right: 10px;
        width: 500px;
        bottom: 0;
    }

    #vetor-codigos {
        width: 630px;
        opacity: 70%;
    }
}


