.field-login {
  height: 570px;
  width: 31%;
  padding: 40px 60px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
form h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #001a59;
}
form p {
  margin-bottom: 50px;
  letter-spacing: 1px;
  color: rgba(128, 128, 128, 0.5019607843);
}
form div {
  width: 100%;
}
form div::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(128, 128, 128, 0.2705882353);
  border-radius: 10px;
  margin-bottom: 40px;
}
form div label {
  text-align: start;
  width: 98%;
  margin: 20px 0 10px 0;
  color: #5e5e5e;
  font-size: 14px;
}
form div input {
  width: 100%;
  outline-color: #001a59;
}
form div input::-moz-placeholder {
  color: rgba(128, 128, 128, 0.314);
  letter-spacing: 0.1px;
}
form div input:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.314);
  letter-spacing: 0.1px;
}
form div input::placeholder {
  color: rgba(128, 128, 128, 0.314);
  letter-spacing: 0.1px;
}
form div .input-text {
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
form div:nth-child(4)::after {
  margin-bottom: 53px;
}
form .btn-submit {
  padding: 15px 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4039215686);
  background: white;
  cursor: pointer;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.4039215686);
  margin-bottom: 60px;
}
form .btn-submit:hover {
  transition: 1s;
  background: #001a59;
  color: white;
  border: 1px solid white;
}
form .btn-submit:active {
  transition: 0.1s;
  background: black;
  color: white;
  border: 1px solid white;
}

.field-landing-page {
  height: 470px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 60px;
  background: #fff;
  border-radius: 5px;
  margin-top: 70px;
  overflow: hidden;
}
.field-landing-page font {
  font-family: Arial, Helvetica, sans-serif;
  color: #001a59;
  font-weight: bold;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 2%;
  z-index: 2;
}
.field-landing-page font span {
  text-transform: uppercase;
}
.field-landing-page font::after {
  content: "";
  display: block;
  width: 210px;
  height: 8px;
  border-radius: 10px;
  background: #001a59;
  margin-top: 10px;
}
.field-landing-page p {
  width: 34%;
  margin-top: 11%;
  color: rgb(230, 235, 252);
  line-height: 22px;
  z-index: 2;
}
.field-landing-page p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.0392156863);
  border-radius: 15px;
  margin-top: 15px;
}
.field-landing-page img {
  position: absolute;
  right: 10px;
  bottom: 0;
}
.field-landing-page #vetor-mulher {
  width: 55%;
  z-index: 99;
}
.field-landing-page #vetor-triangulo {
  left: 0;
  z-index: 1;
  width: 56%;
  opacity: 50%;
  filter: sepia(1) hue-rotate(215deg) contrast(3.5) brightness(12) saturate(0.5);
}
.field-landing-page #vetor-codigos {
  width: 57%;
  opacity: 20%;
}

.field-option {
  background: #2d2d2d;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 70%;
  height: 270px;
  padding: 40px 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field-option .field-position-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.field-option .field-position-option hr {
  border: none;
  height: 220px;
  width: 1.5px;
  background: linear-gradient(45deg, transparent, #444444, transparent);
}
.field-option .field-position-option div button {
  padding: 8px 30px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid white;
  color: #2d2d2d;
}
.field-option .field-position-option div button:hover {
  transition: 1s;
  color: white;
  background: rgba(255, 255, 255, 0.296);
}
.field-option .field-position-option div button:active {
  transition: 0.1s;
  color: #2d2d2d;
  background: #001a59;
  border: 2px solid #001a59;
}
.field-option .field-position-option div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
.field-option .field-position-option div:nth-child(1) img {
  width: 250px;
}
.field-option .field-position-option div:nth-child(1) div {
  width: 40%;
}
.field-option .field-position-option div:nth-child(1) div p {
  color: rgba(255, 255, 255, 0.5294117647);
  text-align: end;
  margin-bottom: 25px;
}
.field-option .field-position-option div:nth-child(1) div button {
  width: 100%;
}
.field-option .field-position-option > div:nth-child(3) {
  width: 35%;
}
.field-option .field-position-option > div:nth-child(3) h1 {
  color: white;
  font-size: 25px;
}
.field-option .field-position-option > div:nth-child(3) h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 90px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: white;
}
.field-option .field-position-option > div:nth-child(3) p {
  color: rgba(255, 255, 255, 0.5294117647);
  margin-bottom: 25px;
}

.field-info {
  width: 60%;
  padding: 40px 60px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  position: relative;
}
.field-info button {
  padding: 7px 20px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(197, 197, 197, 0.64);
  border: 1.8px solid rgb(242, 242, 242);
  border-radius: 5px;
  background: rgba(215, 215, 215, 0.01);
  position: absolute;
  top: 5.5%;
  left: 7%;
}
.field-info button:hover {
  transition: 1s;
  background: #001a59;
  color: white;
}
.field-info button:active {
  transition: 0.1s;
  background: black;
  color: white;
}
.field-info .form-info {
  width: 85%;
}
.field-info .form-info div {
  margin-bottom: 15px;
}
.field-info .form-info div::after {
  content: "";
  display: none;
}
.field-info .form-info div .input-text-info {
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.2705882353);
  background: rgba(128, 128, 128, 0.031372549);
  margin-top: 10px;
  color: #001a59;
}
.field-info .form-info h1 {
  margin-top: 60px;
}
.field-info .form-info p {
  margin-bottom: 20px;
}
.field-info .form-info h3 {
  text-align: start;
  width: 100%;
  color: #001a59;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.field-info .form-info h3::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background: linear-gradient(45deg, #001a59, transparent);
  margin-left: 10px;
}
.field-info .form-info .btn-submit-form-info {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4039215686);
  background: white;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(128, 128, 128, 0.4039215686);
  margin-bottom: 60px;
  margin-top: 30px;
}
.field-info .form-info .btn-submit-form-info:hover {
  transition: 1s;
  background: #001a59;
  color: white;
  border: 1px solid white;
}
.field-info .form-info .btn-submit-form-info:active {
  transition: 0.1s;
  background: black;
  color: white;
  border: 1px solid white;
}
.field-info .form-info .input-40-porcento {
  width: 60%;
}
.field-info .form-info .input-30-porcento {
  width: 40%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.menu-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.menu-user .position-menu-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.menu-user .position-menu-user a {
  font-weight: bold;
  font-variant: small-caps;
  color: #001a59;
  text-decoration: none;
}
.menu-user .position-menu-user div {
  display: flex;
}
.menu-user .position-menu-user div p:nth-child(1) {
  margin-right: 30px;
}
.menu-user .position-menu-user div p {
  letter-spacing: 1px;
}
.menu-user .position-menu-user div p span {
  font-weight: bold;
  color: #001a59;
  font-size: 17px;
}/*# sourceMappingURL=style.css.map */