@import '../components/css/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $backgroundColor;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
